@charset "UTF-8";
body{

  background-color:#15273E;
  background-size: cover;
  color:#BBB;
	font-family:"Osaka－等幅";

}

table {
  background-color:#15273E;
  font-family: Meiryo;
  width: 400px;
  height: 200px;

}

.box_left {
    float:left;
    width:400px;
    height:600px;

}

.box_left2 {
    width:100%;
    position:absolute;
    top:640px;
}

.box_right {
    float:left;
    width:700px;
    height:100px;
}

img {
    width: 100%;
    height: auto;
}

.story{
  margin-left:50px;
  margin-bottom:500px;
}
