@charset "UTF-8";
article, aside, details, figcaption, header, hgroup, menu, nav, section {
  display:block;
}
/*
body {
  background:#eeeeee;
  font-family:"Meiryo";
  width: 1200px;
  padding: 10px;
  text-align: center;
  border: 1px solid #becbfa;
  margin: auto;
}
*/

body{
  background-color:#15273E;
}

h1{
  font-size:0.9em;
  margin: 0px;
}

h2 {
font-size:0.9em;
margin:0px 0px 20px 0px;
}

#wrap{
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

#menu{
  margin-left:auto;
  margin-right:auto;
  width:600px;
  list-style-type: none;
  overflow:hidden;
}

#menu li{
  width:200px;
  text-align:center;
  float:left;
  display: block;
  list-style-type:none;
}

#mainimg{
  width:960px;
  height: 350px;
  margin10px 0px 15px 0px;
}

#contents{
  width:615px;
  float:left;
}

#newsbox{
  width:593px;
  height:auto;
  border:solid 1px #CCC;
  padding:10px;
  margin-bottom:15px;
  background-color: #FFF;
}

#newsbox p{
  border-bottom:dashed 1px #CCC;
}

.contentsbox {
width:593px;
height:auto;
border:solid 1px #CCC;
padding:10px;
margin-bottom:15px;
background-color:#FFF;
}

.imgbox {
width:230px;
height:167px;
float:right;
margin:10px 0px 10px 25px;
}

.midashi{
  border-bottom:dashed 2px #C30;
font-weight:bold;
color:#C30;
font-size:1.2em;
}

.clear {
clear:both;
}

#goannai {
font-size:1.2em;
border-bottom:solid 2px #C30;
margin:0px 0px 15px 0px;
color:#C30;
}

#sidenavi{
  width:330px;
  margin-left:15px;
  float:left;
}

.sidebox {
width:330px;
height:130px;
margin-bottom:15px;
}

footer{
  background-color: #3CF;
}
